# Python
__pycache__/
*.pyc
scripts/__pycache__/

# Jupyter
.ipynb_checkpoints/

# Local configs / secrets
.env
config_local.yaml
secrets.yaml
.~lock.*#
.DS_Store
rplots/

#VScode
.vscode

#Github
.github
