# Python
__pycache__/
*.pyc
scripts/__pycache__/
src/*.egg-info/
.pytest_cache/
.eggs/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Local configs / secrets
.env
config_local.yaml
secrets.yaml
.~lock.*#
.DS_Store
rplots/

#VScode
.vscode

#Github
.github

MIGRATION_PLAN.md